.promo
	min-height 100vh
	padding-top 75px
	background-image url(%=static=%general/promo-bg.png)
	background-repeat no-repeat
	background-position center 75px
	background-size cover
	&__inner
		text-align center
	&__title
		max-width 700px
		margin 0 auto
		padding-top 50px
		padding-bottom 70px
		font-size 36px
		line-height 60px
		font-weight 300
		color $c_white
		+mobile-lg()
			font-size 30px
			line-height 1.5
	&__text
		width 300px
		margin 0 auto 100px
		color $c_white
		font-size 12px
		line-height 21px
		font-weight 300
		opacity .6
		+mobile-lg()
			margin-bottom 50px
	&__arrow-down
		position relative
		margin-top auto
		margin-bottom 100px
		border none
		background-color transparent
		opacity .5
		animation: .7s down  infinite alternate
		&:before
			position absolute
			content ''
			left calc(50% - 15px)
			top calc(50% - 15px)
			border solid $c_white
			border-width 0 5px 5px 0
			display inline-block
			vertical-align top
			padding 10px
			transform rotate(45deg)
		&:hover
			opacity 1
@keyframes down
	0%
		transform:translateY(0px)
	100%
		transform:translateY(20px)
