include ../order-form/order-form
mixin promo(data)
	+b.SECTION.promo#promo
		+e.inner.center
			+e.H1.title Подключение к Яндекс-Такси водителем за 2% в Москве - за 2 минуты
			+order-form
			+e.P.text Оставьте Ваши данные и мы перезвоним с дальнейшими инструкциями.
			+e.BUTTON(rel='next').arrow-down
