.promo
	min-height 100vh
	padding-top 75px
	background-image url(%=static=%general/promo-bg.png)
	background-repeat no-repeat
	background-position center 75px
	background-size cover
	&__inner
		text-align center
	&__title
		width 700px
		margin 0 auto
		padding-top 50px
		padding-bottom 70px
		font-size 36px
		line-height 60px
		font-weight 300
		color $c_white
	&__text
		width 300px
		margin 0 auto
		color $c_white
		font-size 14px
		line-height 21px
		font-weight 300
		opacity .6
		