.promo
	min-height 100vh
	padding-top 75px
	background-image url(%=static=%general/promo-bg.png)
	background-repeat no-repeat
	background-position center 75px
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		align-items: center;
		justify-content: space-around;
		min-height 90vh
		padding 50px 0
	&__title
		max-width 700px
		// margin 0 auto 20px
		font-size 36px
		line-height 60px
		font-weight 300
		color $c_white
		+mobile-lg()
			line-height 1.5
		+mobile()
			font-size 34px
			line-height 1.2
		+mobile-sm()
			font-size 28px
			line-height 2
	&__sub-title
		color $c_white
		font-size 20px
		margin-bottom 170px
		+mobile-lg()
			text-align center
			margin-bottom 110px
		+mobile-sm()
			margin-bottom 60px
			font-size 18px
			line-height 1.6
		strong
			font-weight 300
		span
			color $c_orange
			font-size 22px
			font-weight 700
	&__text
		width 300px
		color $c_white
		font-size 12px
		line-height 21px
		font-weight 300
		opacity .6
		text-align center
		+mobile-lg()
			margin-bottom 50px
	&__arrow-down
		position relative
		display block
		margin-top auto
		// margin-bottom 100px
		border none
		background-color transparent
		opacity .5
		animation: .7s down  infinite alternate
		&:before
			position absolute
			content ''
			left calc(50% - 15px)
			top calc(50% - 15px)
			border solid $c_white
			border-width 0 5px 5px 0
			display inline-block
			vertical-align top
			padding 10px
			transform rotate(45deg)
		&:hover
			opacity 1
@keyframes down
	0%
		transform:translateY(0px)
	100%
		transform:translateY(20px)
