extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer

block head
	- var pageTitle = 'my title';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+footer
