/* Your custom fonts here */

@font-face {
    font-family: 'SF-UI-Display';
			src: url('../fonts/SF-UI-Display-Regular.woff') format('woff'),
					url('../fonts/SF-UI-Display-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'SF-UI-Display';
			src: url('../fonts/SF-UI-Display-Light.woff') format('woff'),
					url('../fonts/SF-UI-Display-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    }
@font-face {
    font-family: 'SF-UI-Display';
			src: url('../fonts/SF-UI-Display-Bold.woff') format('woff'),
					url('../fonts/SF-UI-Display-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }


// Var for using custom font
$font = 'SF-UI-Display', Helvetica, Arial, sans-serif;
