// Mixins.
mobile-sm()
  @media (max-width: 320px)
    {block}
mobile()
  @media (max-width: 425px)
    {block}
mobile-lg()
	@media (max-width: 576px)
		{block}
tablet()
  @media (max-width: 768px)
    {block}
netbook()
  @media (max-width: 992px)
    {block}
		
		
m-nl()
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside

m-cf()
    &:before, &:after
        display table
        content ""

    &:after
        clear both

    .lt-ie8 &
        zoom 1


m-blocks-justify()
    text-align justify
    text-justify newspaper


// You can add your own mixins here:
mq(breakpoints)
	conditions = ()
	for breakpoint in breakpoints
		push(conditions, media_queries[breakpoint])
	conditions = join(", ", conditions)
	@media conditions
		{block}
