// File for vars.
// For example: main colors, paddings and so on.
$c_white = #fff
$c_orange = #fff176
$c_black = #000
$c_dark = #010101
$c_hamburger = #ccc
$page-width = 1140px
$bar-height = 5px
$bar-width = 40px
$bar-spacing = 10px
