// File for vars.
media_queries = {
	mobile  : "(max-width: 32rem)",
	largeMobile: "(max-width: 54.4rem)"
	tablet  : "(max-width: 76.8rem)",
	desktop : "(max-width: 99.2rem)",
	hqdesktop: "(max-width: 120rem)"
}
// For example: main colors, paddings and so on.
$c_white = #fff

$c_black = #000

$page-width = 1140px
