mixin order-form(data)
	+b.FORM.registration(method='POST')
		+e.inner
			+e.form-group
				label(for='username') Имя и Фамилия
				input(type='text' name='username' id='username' minlength="3" required)
				+b.UL.requirements
					+e.LI.item Минимум 3 символа
					+e.LI.item Пишем только буквы и пробел
			+e.form-group
				label(for='phone') Номер телефона
				input(type='tel' name='phone' id='phone' max-length='12' value='+7' pattern='[0-9]{3}[0-9]{7}' required)
				+b.UL.requirements
					+e.LI.item Ваш код и номер в формате xxx xxxxxxx (без пробелов)
			+e.INPUT.submit(type='submit') Подключиться
