mixin navigation(data)
	+b.NAV.navigation.no-js
		+e.A.item(href='#conditions') Условия
		+e.A.item(href='#service') Преимущества
		+e.A.item(href='#statistics') О нас
		+e.A.item(href='#faq') Вопрос-ответ
