.page-header
	position relative
	z-index 1000
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		position fixed
		width 100%
		// left 0
		// right 0
		background-color $white
		box-shadow:  0 15px 5px -13px rgba(0,0,0,.2);
