include ../logo/logo
include ../navigation/navigation
include ../phone/phone
mixin header(data)
	+b.HEADER(class='page-header')
		+e.inner.center
			+logo
			+navigation
			+phone
			+e.BUTTON.nav-btn(type=button) Menu
				span.bar
				