.nav-btn
	display none
	font-size 0
	border none
	outline none
	background-color transparent
	+mobile-lg()
		display block
		transform translateY(-10px)
	// +mobile-sm()
	// 	transform translateY(-10px)
	.bar
		position: relative
		display block
		width: $bar-width
		height: $bar-height
		transform: translateY($bar-spacing)
		background: $c_hamburger
		transition: all 0ms 300ms
		+mobile-sm()
			width 35px
			height 3px
		&:after,
		&:before 
			width: $bar-width
			height: $bar-height
			+mobile-sm()
				width 35px
				height 3px
		&.animate 
			background: rgba(0, 0, 0, 0)
		&:before 
			content: ""
			position: absolute
			left: 0
			bottom: $bar-spacing
			background: $c_hamburger
			transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
			+mobile-sm()
				bottom 8px
		&:after 
			content: ""
			position: absolute
			left: 0
			top: $bar-spacing
			background: $c_hamburger
			transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
			+mobile-sm()
				top 8px
		&.animate:after
			top: 0
			transform: rotate(45deg)
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
		&.animate:before 
			bottom: 0
			transform: rotate(-45deg)
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
