mixin conditions(data)
	+b.SECTION
		+e.inner.center
			+e.H2.title Условия подключения к Яндекс Такси
			+e.UL.list
				+e.LI.item
					b Опыт
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item
					b Автомобиль
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item
					b Лицензия
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item
					b Факторы
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item
					b Интернет
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
