mixin conditions(data)
	+b.SECTION.conditions
		+e.inner.center
			+e.H2.title.heading._h2 Условия подключения к Яндекс Такси
			+e.UL.list
				+e.LI.item._expirience
					b Опыт
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item._car
					b Автомобиль
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item._license
					b Лицензия
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item._factors
					b Факторы
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
				+e.LI.item._internet
					b Интернет
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, optio.
