mixin conditions(data)
	+b.SECTION.conditions#conditions
		+e.inner.center
			+e.H2.title.heading._h2 Условия подключения к Яндекс Такси
			+e.UL.list
				+e.LI.item._expirience
					b Опыт
					p Наличие водительского удостоверения (стаж вождения от 3 лет, гражданство любой страны)
				+e.LI.item._car
					b Автомобиль
					p Личный или арендованный автомобиль (иномарка) не старше 7 лет
				+e.LI.item._license
					b Лицензия
					p Обязательное наличие лицензии на автомобиль.
				+e.LI.item._factors
					b Факторы
					p Желательно хорошее знание города. Желание работать и зарабатывать.
				+e.LI.item._internet
					b Интернет
					p Смартфон или планшет на базе операционной системы Android. Для комфортной работы желательна версия выше 4.2
