mixin statistics(data)
	+b.SECTION.statistics#statistics
		+e.inner.center
			+e.H2.title.heading._h2 Наша работа в цифрах
			+e.UL.list
				+e.LI.item
					+e.info-wrap
						span 3 500
						b Водителей
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap._24-hour
						p Круглосуточная техническая поддержка.
				+e.LI.item
					+e.info-wrap
						span 95 000
						b Рублей
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap._money
						p Вывод денег на Kiwi кошелек или на карту.
				+e.LI.item
					+e.info-wrap
						span > 2 млн
						b Заказов
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap._y-taxi
						p Работа у Российского партнера «Яндекс Такси».
				+e.LI.item
					+e.info-wrap
						span 28
						b Диспетчерских
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap._24-help
						p Круглосуточная помощь при работе с заказами.
