mixin statistics(data)
	+b.SECTION.statistics#statistics
		+e.inner.center
			+e.H2.title.heading._h2 Наша работа в цифрах
			+e.UL.list
				+e.LI.item
					+e.info-wrap
						span > 200
						b Водителей
						p в месяц подключаются к системе с нашей помощью!
					+e.icon-wrap._24-hour
						p Круглосуточная техническая поддержка.
				+e.LI.item
					+e.info-wrap
						span 85 000
						b Рублей
						p составляет реальная среднемесячная заработанная водителем сумма.
					+e.icon-wrap._money
						p Вывод денег на Qiwi кошелек или на карту.
				+e.LI.item
					+e.info-wrap
						span > 300
						b Заказов
						p постоянно доступно на бирже каждому водителю в течение суток!
					+e.icon-wrap._y-taxi
						p Работа с официальным партнером «Яндекс Такси».
				+e.LI.item
					+e.info-wrap
						span > 10
						b Диспетчерских
						p работают для Вас, добавляя сотни свежих заказов
					+e.icon-wrap._24-help
						p Оперативная помощь при работе с заказами.
