mixin statistics(data)
	+b.SECTION.statistics
		+e.inner.center
			+e.H2.title Наша работа в цифрах
			+e.UL.list
				+e.LI.item
					+e.info-wrap
						span 3 500
						b Водителей
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap
						p Круглосуточная техническая поддержка.
				+e.LI.item
					+e.info-wrap
						span 95 000
						b Рублей
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap
						p Вывод денег на Kiwi кошелек или на карту.
				+e.LI.item
					+e.info-wrap
						span > 2 млн
						b Заказов
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap
						p Работа у Российского партнера «Яндекс Такси».
				+e.LI.item
					+e.info-wrap
						span 28
						b Диспетчерских
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nostrum!
					+e.icon-wrap
						p Круглосуточная помощь при работе с заказами.
