mixin service(data)
	+b.SECTION.service
		+e.inner.center
			+e.H2.title Удобный сервис
			+e.UL.list
				+e.LI.item
					b Подключение
					p Lorem ipsum dolor sit amet.
				+e.LI.item
					b Время и график работы
					p Lorem ipsum dolor sit amet.
				+e.LI.item
					b Программа
					p Lorem ipsum dolor sit amet.
