mixin service(data)
	+b.SECTION.service#service
		+e.inner.center
			+e.H2.title.heading._h2 Удобный сервис
			+e.UL.list
				+e.LI.item._connection
					b Подключение
					p Удаленное подключение, поездка в офис для оформления бумаг не требуется.
						| В течение часа Вас добавят в базу и можно начинать работать.
				+e.LI.item._work
					b Время и график работы
					p Круглосуточный доступ к клиентской базе заказов. Работаете столько, сколько Вам хочется и тогда, когда Вам удобно.
				+e.LI.item._programm
					b Программа
					p Полученное мобильное приложение помогает Вам оперативно искать и брать лучшие заказы на бирже.
					