mixin service(data)
	+b.SECTION.service#service
		+e.inner.center
			+e.H2.title.heading._h2 Удобный сервис
			+e.UL.list
				+e.LI.item._connection
					b Подключение
					p Lorem ipsum dolor sit amet.
				+e.LI.item._work
					b Время и график работы
					p Lorem ipsum dolor sit amet.
				+e.LI.item._programm
					b Программа
					p Lorem ipsum dolor sit amet.
