.service
	padding-top 80px
	+tablet()
		padding-top 50px
	&__title
		margin-bottom 80px
		margin-bottom 50px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content space-around
		+mobile-lg()
			justify-content space-between	
		+mobile()
			flex-direction column
	&__item
		position relative
		flex-basis 300px
		padding-top 100px
		text-align center
		&:not(:last-child):after
			position absolute
			content ''
			right -50px
			top calc(50% - 20px)
			width 50px
			height 40px
			background-image url(%=static=%minified-svg/arrow.svg)
			background-repeat no-repeat
			+tablet()
				width 40px
				height 30px
				right -10px
			+mobile-lg()
				width 20px
				height 15px
				right 0
			+mobile()
				right calc(50% - 7px)
				top calc(50% + 45px)
				transform rotate(90deg)
		+tablet()
			flex-basis 245px
		+mobile-lg()
			flex-basis 188px
			padding-top 60px
		+mobile()
			flex-basis 145px
		b
			display block
			margin-bottom 20px
			color $c_black
			font-size 18px
			font-weight 400
			line-height 21px
			+mobile-lg()
				font-size 15px
				margin-bottom 5px
		p
			color $c_black
			font-size 14px
			font-weight 300
			line-height 21px
			+mobile-lg()
				font-size 13px
		&_connection,
		&_work,
		&_programm
			background-repeat no-repeat
			background-size 60px
			background-position center top
			+mobile-lg()
				background-size 45px
		&_connection
			background-image url(%=static=%minified-svg/2-1.svg)
		&_work
			background-image url(%=static=%minified-svg/2-2.svg)
		&_programm
			background-image url(%=static=%minified-svg/2-3.svg)
