mixin recruitment-info(data)
	+b.SECTION.recruitment-info
		+e.inner.center
			+e.left-col
				h2 Подключение к Яндекс Такси водителем за 1% в Москве
					br
					| за 2 минуты!
				+e.BUTTON.button(type='button') Подключиться
			+e.right-col
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo accusantium voluptate neque aliquid, pariatur cumque a dolores suscipit provident veritatis.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laudantium earum, necessitatibus beatae vero esse autem dolorum error magni nulla illo maxime sint eveniet neque similique a, sequi repellat commodi et, voluptas voluptatem quasi repellendus quidem in. Totam, velit, tempora.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quas voluptatum debitis, laboriosam, sint dolorum porro at explicabo eos cupiditate.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vero eum fuga iste a officia, reprehenderit minus eaque impedit, repellendus quas temporibus, ipsam voluptate incidunt ad rem. Aperiam illum pariatur cum saepe qui harum non ducimus, animi nostrum maiores tempore fuga eius recusandae dolore impedit unde rem dolor, consectetur, repellendus porro. Doloremque voluptatibus quod, earum soluta a minima alias quos aliquid corporis sit facere quam omnis, dolores nostrum maiores voluptatem esse voluptatum, fugiat nesciunt quo vero! Tempore deleniti possimus consectetur officiis pariatur asperiores in odio nesciunt voluptates, voluptate. Dolor, soluta, expedita? Illo deleniti, quia itaque, odit fugit labore voluptate neque!
