mixin recruitment-info(data)
	+b.SECTION.recruitment-info
		+e.inner.center
			+e.left-col
				h2 Подключиться к Яндекс Такси водителем за 2% в Москве
				+e.BUTTON.button(type='button') Подключиться
			+e.right-col
				p
					strong Работа в Яндекс Такси 
					|– сохрани время для главного!
				p Казалось бы, современный мегаполис развивается стремительно, поэтому проблем с поиском достойного места работы возникать не должно. Однако в условиях экономического спада многие компании значительно сокращают штат сотрудников и в погоне за высокой прибылью сваливают на сотрудников в два раза больше обязанностей. Такие условия работы многие не выдерживают и стремятся кардинально сменить сферу деятельности. Если вы не знаете, где можно достойно зарабатывать в кризисный период, 
					|имеете в своем арсенале водительское удостоверение, знаете город и обладаете большим опытом вождения, предлагаем вам горячую вакансию «
					strong работа водителем в Яндекс Такси
					|» на выгодных условиях. Наши сотрудники не только хорошо зарабатывают, но и имеют возможность выбирать наиболее подходящий график, что позволяет без проблем совмещать работу в такси с основной деятельностью. А для тех, кто не видит смысла своей жизни без дороги и общения, не найти лучшего предложения, 
					|чем работа в Яндекс Такси. Отзывы о сотрудничестве с нашей компанией говорят о том, что работа у нас - это возможность совмещать достойный заработок и при этом уделять своим близким больше времени.
			+e.info-col
				p
					strong Служба Яндекс Такси – устроиться на работу 
					|легко, быстро и выгодно!
				p Работа в службе частных таксоперевозок сегодня является одной из самых популярных. И это не удивительно, поскольку данный вид деятельности позволяет иметь реальный доход и увеличить водительский стаж за короткий промежуток времени.  Заработанная сумма полностью зависит от вашей трудоспособности и количества выполненных поездок, поэтому каждый наш сотрудник вправе выбирать собственный график и количество принятых к выполнению заказов. 
					|Если вас заинтересовала 
					strong работа в Яндекс Такси Москва
					|, и вы не представляете своей жизни без социума, заполняйте регистрационную анкету сайте компанию с указанием основных персональных данных. Для того, чтобы узнать условия сотрудничества и работы, свяжитесь по контактному номеру телефона с нашим менеджером либо оставьте заявку в графе обратной связи с пометкой «хочу работать».  Мы заинтересованы в ярких, целеустремленных, активных и компетентных водителях и надеемся на плодотворное и долгосрочное сотрудничество! 
					|Со своей стороны мы даем гарантию на своевременную выплату заработной платы, качественную навигационную систему и программное обеспечение.
				h3 Условия работы в Яндекс Такси
				p Если вы хотите стать частью дружной команды нашей компании, предлагаем ознакомиться с нашим коммерческим предложением:
				ol
					li Постоянное или временное сотрудничество с компанией 
						strong Яндекс Такси. Работа на своем авто
						|, а также на автомобилях нашей фирмы;
					li Гибкий рабочий график с возможностью самостоятельно устанавливать дни, время и продолжительность поездок;
					li Честная прозрачная система учета выполненных поездок. Все заказы строго контролируются нашим мобильным приложением, которое водители предварительно устанавливают на смартфон;
					li Порядочный контингент пассажиров, которые контролируются системой и при выявлении многочисленных жалоб на клиента со стороны водителей, автоматически блокируются системой;
					li 100% гарантия заработка и своевременных выплат по выполненным заказам. Лучшие водители поощряются дополнительными бонусами и привилегиями.
