mixin recruitment-info(data)
	+b.SECTION.recruitment-info
		+e.inner.center
			+e.left-col
				h2 Подключение к Яндекс Такси водителем за 1% в Москве — за 2 минуты!
				button(type='button') Подключиться
			+e.right-col
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo accusantium voluptate neque aliquid, pariatur cumque a dolores suscipit provident veritatis.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laudantium earum, necessitatibus beatae vero esse autem dolorum error magni nulla illo maxime sint eveniet neque similique a, sequi repellat commodi et, voluptas voluptatem quasi repellendus quidem in. Totam, velit, tempora.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quas voluptatum debitis, laboriosam, sint dolorum porro at explicabo eos cupiditate.
