.recruitment-info
	padding-top 80px
	+tablet()
		padding-top 50px
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		+mobile-sm()
			flex-direction column
	&__left-col
		flex-basis 50%
		+mobile-sm()
			margin-bottom 15px
		h2
			margin-bottom 60px
			color $c_black
			font-size 36px
			font-weight 100
			line-height 60px
			+netbook()
				text-align center
			+mobile-lg()
				font-size 30px
				line-height 1.2
			+mobile-sm()
				font-size 24px
				margin-bottom 30px
	&__button
		width 200px
		height 50px
		color $c_black
		font-size 18px
		font-weight 400
		line-height 50px
		background-color $c_orange
		border-radius 5px
		box-shadow 0 3px 6px rgba(0, 0, 0, 0.25)
		border none
		transition all .5s ease
		+netbook()
			display block
			margin 0 auto
		&:hover
			background-color darken($c_orange, 20%)
	&__right-col
		flex-basis 50%
		padding-left 50px
		+tablet()
			padding-left 30px
		+mobile-sm()
			padding-left 0
		p
			margin-bottom 20px
			color $c_black
			font-size 14px
			line-height 21px
			&:last-child
				margin-bottom 0
