mixin questions(data)
	+b.SECTION.questions#faq
		+e.inner.center
			+e.H2.title.heading._h2 Вопрос - ответ
			+e.UL.list
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Можно ли подключиться без приезда в офис?
					+e.SPAN.answer Да, возможно удаленное подключение. Необходимы фото водительского удостоверения, лицензии и свидетельство регистрации транспортного средства.
				+e.LI.item
					+e.SPAN.question Как быстро можно приступить к работе?
					+e.SPAN.answer Подключение происходит в день обращения. Заказы будут поступать сразу же после подключения.
				+e.LI.item
					+e.SPAN.question Как быстро можно получать деньги с заказов по безналу?
					+e.SPAN.answer Выплаты происходят ежедневно в день обращения с 9-00 до 21-00 независимо от суммы.
				+e.LI.item
					+e.SPAN.question Как пополнить счет?
					+e.SPAN.answer Счет можно пополнить путем перечисления на кошелек QIWI или карту.
				+e.LI.item
					+e.SPAN.question Нужно ли сдавать экзамен?
					+e.SPAN.answer Экзамен сдавать не обязательно. Но сданный экзамен положительно влияет на рейтинг водителя. Чем выше рейтинг, тем лучше заказы.
				+e.LI.item
					+e.SPAN.question Можно ли совмещать с основной работой или выходить на линию в свободное время?
					+e.SPAN.answer  Конечно можно. Вы сами решаете сколько времени готовы работать. Никаких ограничений нет.
				+e.LI.item
					+e.SPAN.question Если возникают вопросы по приложению? 
					+e.SPAN.answer Круглосуточная служба поддержки всегда придет на помощь в решении различных вопросов.
