.questions
	padding-top 80px
	&__title
		margin-bottom 80px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
	&__item
		flex 0 1 545px
		margin-bottom 50px
		border-radius 5px
		box-shadow 0 3px 6px rgba(0, 0, 0, 0.25)
	&__question,
	&__answer
		display block
		padding 18px 16px
		color $c_black
		font-size 14px
		font-weight 300
		line-height 21px
	&__question
		background-color $c_orange
		