mixin questions(data)
	+b.SECTION.questions#faq
		+e.inner.center
			+e.H2.title.heading._h2 Вопрос - ответ
			+e.UL.list
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
				+e.LI.item
					+e.SPAN.question Перенесется ли у меня рейтинг при переходе в вашу компанию?
					+e.SPAN.answer Рейтинг перенесется.
